<h1>Ny nyhet</h1>

<%= start_form_tag( {:action => 'create' }, :multipart => true )%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Opprett" %>
<%= end_form_tag %>

<%= link_to 'Tilbake', :action => 'list' %>
