<h1>Opprett nyhet</h1>

<%= form_tag( {:action => 'opprett' }, :multipart => true )%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Opprett" %>
<%= form_tag %>

<%= link_to 'Tilbake', :action => 'list' %>
