html {
    font-family: verdana, arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #fff;
    color: #000;
}

img {
    border: none;
}

a:link, a:visited {
    color: #000;
}

a:hover, a:active {
    color: #777;
}

table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    empty-cells: show;
}

td, th {
    border: none;
    text-align: left;
    padding: 0.3em;
}

tr.even {
    background: #e8ebf2;
    color: #000;
}

tr {
    margin: 0;
}

.current {
    background: #fff;
    color: #000;
    margin-bottom: 0;
    border-bottom: none;
}
    
#links, #languages {
    background: #000;
    color: #fff;
}

#links {
    height: 50px;
}

#logo {
    position: absolute;
    width: 100%;
}

/*
#languages {
    position: absolute;
    top: 110px;
    width: 100%;
    font-size: 1em;
    height: 3em;
    float: left;
}
*/


#content {
    width: 100%;
    position: absolute;
    top: 160px;
    text-align: center;
}

#leftlink, #centerlink, #rightlink {
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    top: 10px;
}
#leftlink  {
    width: 33%;
    left: 10px;
    text-align: left;
}

#centerlink {
    width: 34%;
    left: 33%;
    text-align: center;
}

#rightlink {
    width: 33%;
    right: 10px;
    text-align: right;
}

#ceag_logo {
    margin: 14px 0 0 5px;
    float: left;
}

#ceag_collage {
    float: right;
}

/*
#int_links ul {
  margin:0;
  padding: 0;
  vertical-align: bottom;
  list-style:none;
}

#int_links li {
  display:inline;
  margin:0;
  padding:0;
}


#int_links a {
  float:left;
  background: #000;
  margin:0;
  padding:0;
  text-decoration:none;
}


#int_links a span {
  float:left;
  display:block;
  padding:0.5em 15px 0.25em 15px;
  color:#fff;
 }
  
#int_links a span {
  float:none;
}

#int_links a:hover span {
  text-decoration: underline
}

#int_links a:hover {
  
}

#int_links a:hover span {

}
*/

#tabmenu {
    position: absolute;
    top: 98px;
    width: 100%;
    font-size: 1em;
    float: left;
    background: #000;
	border-top: 0.5em solid black;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px;
}

#tabmenu li {
    display: inline;
	overflow: hidden;
	list-style-type: none;
	color: #000;
	background: #fff;
}

#tabmenu a {
	color: #fff;
	background: #000;
/*	border: 2px solid black; */
	padding: 0 0.5em 0 0.5em;
    text-decoration: none;
}

/*
#mail {
    float: right;
}
*/

#catalogue {
    text-align: center;
    margin-left: 33%;
    margin-top: 200px;
}

#map {
    position: relative;
    top: 30px;
    left: 20px;
    width: 640px;
    height: 480px;
    border: none;
}

p.mainlinks  {
    font-size: 150%;
}
