<p>
    <%= image_tag 'Cooper.gif', :class => 'noprint' %>
</p>
<div style="margin: 0 auto 0 auto; width: 25em">
<h1>Ex-totalleverand&oslash;r</h1>
<ul style="text-align: left"> 
    <li><%= link_to 'Installasjonsmateriell - CEAG', 'http://www.ceag.de/en/Explosion_Protection/Products/' %></li>
    <li><%= link_to 'Belysning - CEAG', 'http://www.ceag.de/en/Explosion_Protection/Products/' %></li>
    <li><%= link_to 'Instrumentering - CEAG', 'http://www.ceagah.de/products/lists/fr/en/indexen.html' %></li>
    <li><%= link_to 'Alarm og signal utstyr - MEDC', 'http://www.medc.com/' %></li>
    <li><%= link_to 'Cable Glands - Capri', 'http://www.capri-codec.com/industrie/en/home.htm' %></li>
    <li><%= link_to 'Syrefaste bokser - Cooper', 'http://www.enclosures-crouse-hinds.uk.com' %></li>
</ul>
</div>