<table>
  <tr>
    <th>Navn</th><th>Stilling</th><th>Telefon</th><th>E-post</th>
  </tr>
  <% @people.each do |person| -%>
  <tr class=<%= cycle("\"even\"", "\"odd\"") %>>
    <td><%= person[:name] %></td>
    <td><%= format_position person[:position] %></td>
    <td><%= format_phone person[:phone] if person[:phone] %></td>
    <td><%= mail_to person[:mail], nil, :encode => "hex" if person[:mail] %></td>
  </tr>
  <% end %>
</table>