<%= error_messages_for 'vedlegg' %>

<!--[form:attachment]-->
<p><label for="attachment_file">Fil</label><br />
<%= file_field 'attachment', 'file'  %></p>

<p><label for="attachment_name">Name</label><br />
<%= text_field 'attachemnt', 'name' %>

<p><label for="attachment_description">Description</label><br />
<%= text_field 'attachment', 'description' %>
<!--[eoform:image]-->

