<%= error_messages_for 'attachment', :class => 'warning' %>

<!--[form:attachment]-->
<p><label for="attachment_file">Fil</label><br />
<%= file_field 'attachment', 'file'  %></p>

<p><label for="attachment_name">Navn</label><br />
<%= text_field 'attachment', 'name' %>

<p><label for="attachment_description">Beskrivelse</label><br />
<%= text_field 'attachment', 'description' %>
<!--[eoform:image]-->

