<h3>Legg til vedlegg</h3>
<% form_for( :attachment, :url => { :action => 'opprett', :nyhet => @news }, :html => {:multipart => true}) do |form| %>
  <p><label for="attachment_document">Fil</label><br />
  <%= form.file_field :document %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Legg til" %>
<% end %>

<%= render :partial => 'nyheter/news', :nyhet => @news %>