<h3>Legg til vedlegg</h3>
<%= form_tag( { :action => 'opprett', :nyhet => @news },:multipart => true) %>
  <p><label for="attachment_file">Fil</label><br />
  <%= file_field 'attachment', 'file'  %></p>
  <%= render :partial => 'form' %>
  <%= submit_tag "Legg til" %>
<%= end_form_tag %>

<%= render :partial => 'nyheter/news', :nyhet => @news %>