<h2><%= @news.title %></h2>

<h3>Endre vedlegg</h3>
<%= form_tag( { :action => 'update', :news => @news },:multipart => true) %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Endre" %>
<%= end_form_tag %>